h1 {
    text-align: center;
    font-size: 60px;
    font-family: fantasy;
    text-shadow: 2px 1px 0px  whitesmoke;
}
body {
    background: linear-gradient(rgb(71, 70, 70), #e2dfdf);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
article {
    margin: 30px;
}
#logo {
    float: left;
    width: 100px;
	height: 100px;
    margin-left: 50px
}
.menu {
    display: flex;                
    padding:0;                  
    background-color: rgb(3, 3, 3);      
    justify-content: space-around;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}
.menu li {
    list-style-type: none ;      
  
}
.menu a {
    display:block;               
    min-width: 120px;               
    margin: 0.5rem;               
    text-align: center;          
    color: #fff;                  
    text-decoration: none;        
}
.menu a:hover,.menu a:hover.actif, #encours {
    background-color: #fdf9fb;
    color: #0e0d0d;
}
h2 {
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    height: auto;
    width: 100vw;
    color: #fff;
}    
footer h3, p {  
    margin-left: 30px; 
    margin-top: 30px;
}

footer img{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
}
#flex {
    margin-left: 30px;
    display: flex;
    padding: auto;
}
#contact {
    margin: 50px;
}
main {
    line-height: 2em;
}
